.centrado{
	margin:0 auto; 
	padding: 0 1em;
}

.cabecera{
	position: fixed; /* Deja la barra fija */
	margin-top: .5rem;
	width: 100vw;
	height: 3rem;
    display: flex;
    justify-content: center;
	background: hsl(0, 0%, 5%);
}

.espacioMain{
	padding-top: 5rem;
}

.pie{
	width: 100vw;
	height: 9rem;
	font-size: 0.8rem;
    display: flex;
    justify-content: center;
	background: hsl(0, 0%, 5%);
}

.footerGrid {
	display: grid;
	grid-template-columns: 13rem 7.5rem 11.5rem;
	grid-template-rows: 7rem 2rem;
	gap: 0.5rem;
 }

@media screen and (max-width: 496px){ 
	.centrado{			
		max-width: 496px;
	}
	.cabecera{
		height: 6rem;
	}
	.espacioMain{
		padding-top: 8rem;
	}
	.footerGrid {
		grid-template-columns: 13rem 5rem 7rem;
		grid-template-rows: 8rem 2rem;
	}
	.pie {
		height: 10rem;
	}
}

@media screen and (max-width:1024px) and (min-width:640px) {
    .centrado{			
		max-width: 720px;
	}
}

@media screen and (min-width:1024px) {
	.centrado{			
		max-width: 720px;
	}
}

.menu-section{
	padding-bottom: 2em;
	margin-bottom: 2em;
	border-bottom: 1px solid hsl(0, 0%);
    /*overflow: hidden;*/
    top: 0; /* Posiciona la barra arriba de la página */
}

.menu ul{
	list-style-type: none; 
	padding: 0;
	margin:0;
}

.menu li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: .6em 1em;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu li a:active {
    color: #ffe6be;
	text-shadow:0px 0px 30px #fdec6e;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.menu li a:hover {
    color: #ffe6be;
	text-shadow:0px 0px 30px #fdec6e;
	-moz-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
 
 .menu-simple ul{
 	display: flex;  /*este display nos premite trabajar con cajas flexibles*/
 	flex-wrap: wrap;
 	justify-content:space-between; /*distribuye para adentro, no alrededor, pero sigue habiendo espacio entre botones*/
 }					

/*Para que no quede espacio entre botones*/
 .menu-simple li{
 	flex:1 0 auto; /*si hay espacio disponible crece en 1, si no, se queda en cero, y si es menor es auto*/
 	text-align: center; /*alineo las palabras de los botones*/
 }

.titulo{
	text-align: center;
}

.contenido{
	text-align: center;
}

.aclaracion{
	color:red;
	font-size: 0.7rem;
	display: inline-block;
}

 .logo {
	 height: 2.7em;
	 margin-right: 1em;
 }

 .social {
	height: 1.5em;
	margin-right: 0.5em;
	filter: invert(25%) sepia(96%) saturate(1509%) hue-rotate(197deg) brightness(94%) contrast(84%);
	/*Los parámetros de filter, los convertí desde el valor hex del color que quería en 
	la página https://codepen.io/sosuke/pen/Pjoqqp*/
 }

#copyright {
	font-style: italic;
	font-size: 0.8rem;
	text-align: center;
	grid-column-start: 1;
	grid-column-end: 4;
}

 .espacioFooter{
	 margin-top: 3rem;
 }

 .mapa {
	 height: 10rem;
 }